<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>thecompany</title>
	</head>
	
	<body>
		<form method="post">
		email : <input type="text" name="email"><br>
<!--		닉네임 : <input type="text" name="nickname"><br>-->
<!--		나이 : <input type="text" name="age"><br>-->
		비밀번호 : <input type="password" name="password"><br>
<!--		비밀번호확인 : <input type="password" name="checkedPass"><br>-->
		<input type="submit" value="로그인">
		</from>
	</body>
</html>