<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
 <script type="text/javascript" th:src="@{/js/grid.js}"></script>
</head>
<body>

<!-- 그리드 형태로 이미지를 보여줄 컨테이너 -->
<div class="grid-container" id="image-grid">
  <!-- 이미지와 정보가 들어갈 공간 -->
</div>

<!-- <script src="script.js"></script>-->
</body>
</html>
 
 
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>


