<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>thecompany</title>
	    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
	</head>
	<h2> 내 정보 </h2>
	<body>
		<form action="/info" method="post">
		email : <input type="text" name="email" th:value="|${info.email}|" readonly><br>
		닉네임 : <input type="text" name="nickname" th:value="${info.nickname}"><br>
		나이 : <input type="text" name="age" th:value="${info.age}"><br>
		비밀번호 : <input type="password" name="newPassword"><br>
		<input type="submit" value="수정">
		</form>
		<br>
		<button onclick="location.href='/pass'">비밀번호 변경</button>
		<br>
		<button onclick="location.href='/delete'">회원 탈퇴</button>
	</body>
<!--	<script>-->
<!--	    const deleteReq = () => {-->
<!--	        location.href = "/delete";-->
<!--	    }-->
<!--	</script>-->
</html>