<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>thecompany</title>
	</head>
	<h2> 내 정보 </h2>
	<body>
		<form action="/info" method="post">
		email : <input type="text" name="email" th:value="|${info.email}|" readonly><br>
		닉네임 : <input type="text" name="nickname" th:value="${info.nickname}"><br>
		나이 : <input type="text" name="age" th:value="${info.age}"><br>
		비밀번호 : <input type="password" name="newPassword"><br>
		<input type="submit" value="수정">
		</from>
		<br>
		<button onclick=" ">비밀번호 변경</button>
		<br>
		<button onclick="delete()">회원 탈퇴</button>
	</body>
	<script th:inline="javascript">
	    const delete = () => {
	        location.href = "/delete";
	    }
	</script>
</html>