<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTP-8">
		<title>thecompany</title>
	</head>
	
	<body>
		<form action="/join" method="post">
		ID : <input type="text" name="memberId"><br>
		P/W : <input type="password" name="pass"><br>
		이름 : <input type="text" name="name"><br>
		나이 : <input type="text" name="age"><br>
		전화번호 : <input type="text" name="phone"><br>
		주소 : <input type="text" name="addr"><br>
		이메일 : <input type="text" name="email"><br>
		<input type="submit" value="등록">
		</from>
	</body>
</html>